<div ng-controller="PostEditController">
    <div class="form-group">
        <label for="InputTitle">Title</label>
        <input type="text" class="form-control" id="InputTitle" placeholder="New title" ng-model="post.title">
    </div>
    <div class="form-group">
        <label for="InputTitle">Text</label>
        <ng--quill-editor ng-model="post.text"></ng--quill-editor>
    </div>
    <div class="form-group form-inline" ng-init="init()">
        <label for="InputTitle">Tags</label>
        <br />
        <span class="tag tag-primary" ng-repeat="tag in post.tags">
            <a href="#" class="htag" ng-click="$event.preventDefault();deleteTag(tag)">#{{tag.name}}</a>
        </span>
        <input type="text" class="form-control" ng-model="newTag.name" ng-trim="false" ng-keydown="keyDown($event)" placeholder="New tag" ng-change="newTagChanged()" />
    </div>
</div>