<div ng-show="alert.success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" ng-click="removeAlert(alert)" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong> {{alert.text}}
</div>

<div ng-show="!alert.success" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" ng-click="removeAlert(alert)" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error!</strong> {{alert.text}}
</div>